/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body {
    background-color: #ff9f1c;
    font-family: 'Roboto', sans-serif;  
    color: #011627;
    position: relative;
}

h1 {
    color: #fdfffc;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}

/* Select*/

.user-choice {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

select {
    font-size: 20px;
    outline: none;
    vertical-align: middle;
}

select:hover {
    cursor: pointer;
}

#error {
    background-color: #fdfffc;
    max-width: 350px;
    color: #F71735;
    margin: 10px auto;
    padding: 10px;
}

/* Bottoni */

button {
    background-color: #011627;
    color: white;
    padding: 8px 10px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s;
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

button:active {
    background-color: #04724D;

}


#reset {
    display: none;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 20px;
}

#playAgain {
    margin: 10px 0;
    background-color: #ff9f1c;
    font-size: 20px;
}

#reset:hover {
    background-color: #FDFFFC;
    color: #011627;

}

#reset:active {
    background-color: darkgray;
}

/* Risultato */ 

#result {
    color: #011627;
    background: #FDFFFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    z-index: 3;
    text-align: center;
    display: none;
    padding: 20px;
    transition: 2s;
}

#result h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#result h3 {
    font-size: 25px;
}


/* Campo minato */

.frame {
    position: relative;
}

#campo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20px;
}


.field-500 {
    width: 500px;
}

.quadrato {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #ddd280;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.quadrato:hover {
    opacity: .7;
}

.quadrato.bomb {
    background-image: url(../img/mine.png);
    background-size: contain;
    background-position:  center;
    background-blend-mode: multiply;
}

.quadrato.bomb.exploded {
    background: #F71735;
    background-image: url(../img/mine.png);
    background-size: contain;
    background-position:  center;
    background-blend-mode: multiply;
}

.quadrato.safe {
    background: #04724D;
    background-blend-mode: multiply;
    color: white;
}

@media screen and (max-width: 530px){
    .quadrato {
        width: 30px;
        height: 30px;
    }
    .field-500 {
        width: 300px;
    }
    
}

@media screen and (max-width: 300px){
    .quadrato {
        width: 25px;
        height: 25px;
    }
    .field-500 {
        width: 250px;
    }
    #generate {
        margin: 20px 0;
    }
    
}
